// Start Variables
$primary-txt-color: hsl(238, 29%, 16%);
$arrow-color: hsl(14, 88%, 65%);
$question-color: hsl(237, 12%, 33%);
$answer-color: hsl(240, 6%, 50%);
$bg-gradient-soft-violet: hsl(273, 75%, 66%);
$bg-gradient-soft-blue: hsl(240, 73%, 65%);
$dividers-color: hsl(240, 5%, 91%);
$font: 0.75rem;
// End Variables