@use "abstracts/variables" as *;

.attribution { 
  font-size: $font; 
  text-align: center;

  a {
    color: #fff;
    text-decoration: none;
    transition: 0.5s;

    &:hover {
      color: $arrow-color;
    }
  }
}